In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [2]:
english = pd.read_csv('../data/2023/english_predicted.csv')
not_english = pd.read_csv('../data/2023/not_english.csv')
english.head()

C:\Users\pm_\AppData\Local\Temp\ipykernel_13092\3543184703.py:2: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  not_english = pd.read_csv('../data/2023/not_english.csv')

,Provider,Level,Subject,Code,Predicted_28_Positivity,Predicted_28_Options,Prediction_Diff
0,England,All undergraduates,Medical sciences (non-specific),CAH01-01-01,77.2,74.4,-2.8
1,England,All undergraduates,Medicine (non-specific),CAH01-01-02,76.1,67.8,-8.3
2,England,All undergraduates,Medicine by specialism,CAH01-01-03,75.1,67.0,-8.1
3,England,All undergraduates,Dentistry,CAH01-01-04,74.9,67.1,-7.8
4,England,All undergraduates,Pharmacology,CAH02-02-01,83.1,78.1,-5.0

In [3]:
data_23 = pd.read_csv('../data/2023/NSS3_2023.csv')
data_23.head()

C:\Users\pm_\AppData\Local\Temp\ipykernel_13092\3418218669.py:1: DtypeWarning: Columns (0,8) have mixed types. Specify dtype option on import or set low_memory=False.
  data_23 = pd.read_csv('../data/2023/NSS3_2023.csv')

,UKPRN,Provider name,Level of study,Subject code,Subject,Question,Responses,Population,Suppression reason,Option 1,...,Positivity measure (%),Benchmark (%),Difference (ppt),Standard deviation,Contribution to benchmark (%),Materially below benchmark (%),Broadly in line with benchmark (%),Materially above benchmark (%),Publication response headcount,Publication response rate (%)
0,UK,UK,All undergraduates,CAH01-01-01,Medical sciences (non-specific),Q01: How good are teaching staff at explaining...,226.8,296.1,NaN,60.82,...,91.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,249,76.6
1,UK,UK,All undergraduates,CAH01-01-01,Medical sciences (non-specific),Q02: How often do teaching staff make the subj...,226.8,296.1,NaN,34.99,...,79.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,249,76.6
2,UK,UK,All undergraduates,CAH01-01-01,Medical sciences (non-specific),Q03: How often is the course intellectually st...,226.5,296.1,NaN,101.14,...,88.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,249,76.6
3,UK,UK,All undergraduates,CAH01-01-01,Medical sciences (non-specific),Q04: How often does your course challenge you ...,226.8,296.1,NaN,97.63,...,86.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,249,76.6
4,UK,UK,All undergraduates,CAH01-01-01,Medical sciences (non-specific),Q05: To what extent have you had the chance to...,225.8,296.1,NaN,83.47,...,88.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,249,76.6

In [4]:
eng_providers = list(english['Provider'].unique())

In [5]:
rows_list = []
for i in range(len(data_23)):
  if data_23['Provider name'].values[i] in eng_providers:
    rows_list.append(dict(data_23.iloc[i]))

In [6]:
combined_df = pd.DataFrame(rows_list)

In [7]:
combined_df.head()

,UKPRN,Provider name,Level of study,Subject code,Subject,Question,Responses,Population,Suppression reason,Option 1,...,Positivity measure (%),Benchmark (%),Difference (ppt),Standard deviation,Contribution to benchmark (%),Materially below benchmark (%),Broadly in line with benchmark (%),Materially above benchmark (%),Publication response headcount,Publication response rate (%)
0,England,England,All undergraduates,CAH01-01-01,Medical sciences (non-specific),Q01: How good are teaching staff at explaining...,189.8,251.1,NaN,49.82,...,92.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,212,75.6
1,England,England,All undergraduates,CAH01-01-01,Medical sciences (non-specific),Q02: How often do teaching staff make the subj...,189.8,251.1,NaN,23.99,...,78.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,212,75.6
2,England,England,All undergraduates,CAH01-01-01,Medical sciences (non-specific),Q03: How often is the course intellectually st...,189.5,251.1,NaN,81.14,...,86.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,212,75.6
3,England,England,All undergraduates,CAH01-01-01,Medical sciences (non-specific),Q04: How often does your course challenge you ...,189.8,251.1,NaN,77.63,...,86.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,212,75.6
4,England,England,All undergraduates,CAH01-01-01,Medical sciences (non-specific),Q05: To what extent have you had the chance to...,189.8,251.1,NaN,69.47,...,87.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,212,75.6

In [8]:
not_english.head()

,UKPRN,Provider name,Level of study,Subject code,Subject,Question,Responses,Population,Option 1,Option 2,Option 3,Option 4,Option 5,Positivity,Response Rate,Question Num,index1
0,NI,Northern Ireland,All undergraduates,CAH01-01-02,Medicine (non-specific),How good are teaching staff at explaining thi...,236.0,285.0,59.0,153.0,18.0,6.0,NaN,89.8,83.2,Q01,25936
1,NI,Northern Ireland,All undergraduates,CAH01-01-02,Medicine (non-specific),How often do teaching staff make the subject ...,236.0,285.0,49.0,148.0,34.0,5.0,NaN,83.5,83.2,Q02,25937
2,NI,Northern Ireland,All undergraduates,CAH01-01-02,Medicine (non-specific),How often is the course intellectually stimul...,236.0,285.0,152.0,77.0,6.0,1.0,NaN,97.0,83.2,Q03,25938
3,NI,Northern Ireland,All undergraduates,CAH01-01-02,Medicine (non-specific),How often does your course challenge you to a...,236.0,285.0,109.0,100.0,25.0,2.0,NaN,88.6,83.2,Q04,25939
4,NI,Northern Ireland,All undergraduates,CAH01-01-02,Medicine (non-specific),To what extent have you had the chance to exp...,234.0,285.0,92.0,108.0,29.0,5.0,NaN,85.5,83.2,Q05,25940

In [9]:
combined_df.rename(columns={'Positivity measure (%)': 'Positivity', 'Publication response rate (%)': 'Response Rate'}, inplace=True)

In [10]:
combined_df[['Question Num', 'Question']] = combined_df['Question'].str.split(':', expand=True)

In [11]:
not_english.drop(columns='index1', inplace=True)

In [12]:
cols_to_keep = list(not_english.columns)
combined_df = combined_df[cols_to_keep]
combined_df.head()

,UKPRN,Provider name,Level of study,Subject code,Subject,Question,Responses,Population,Option 1,Option 2,Option 3,Option 4,Option 5,Positivity,Response Rate,Question Num
0,England,England,All undergraduates,CAH01-01-01,Medical sciences (non-specific),How good are teaching staff at explaining thi...,189.8,251.1,49.82,125.13,14.33,0.5,NaN,92.2,75.6,Q01
1,England,England,All undergraduates,CAH01-01-01,Medical sciences (non-specific),How often do teaching staff make the subject ...,189.8,251.1,23.99,124.30,35.99,5.5,NaN,78.1,75.6,Q02
2,England,England,All undergraduates,CAH01-01-01,Medical sciences (non-specific),How often is the course intellectually stimul...,189.5,251.1,81.14,83.48,22.83,2.0,NaN,86.9,75.6,Q03
3,England,England,All undergraduates,CAH01-01-01,Medical sciences (non-specific),How often does your course challenge you to a...,189.8,251.1,77.63,86.82,23.33,2.0,NaN,86.7,75.6,Q04
4,England,England,All undergraduates,CAH01-01-01,Medical sciences (non-specific),To what extent have you had the chance to exp...,189.8,251.1,69.47,97.31,21.50,1.5,NaN,87.9,75.6,Q05

In [13]:
combined_df.shape

(363372, 16)

In [14]:
combined_df = pd.concat([combined_df, not_english], axis=0)
combined_df.head()

,UKPRN,Provider name,Level of study,Subject code,Subject,Question,Responses,Population,Option 1,Option 2,Option 3,Option 4,Option 5,Positivity,Response Rate,Question Num
0,England,England,All undergraduates,CAH01-01-01,Medical sciences (non-specific),How good are teaching staff at explaining thi...,189.8,251.1,49.82,125.13,14.33,0.5,NaN,92.2,75.6,Q01
1,England,England,All undergraduates,CAH01-01-01,Medical sciences (non-specific),How often do teaching staff make the subject ...,189.8,251.1,23.99,124.30,35.99,5.5,NaN,78.1,75.6,Q02
2,England,England,All undergraduates,CAH01-01-01,Medical sciences (non-specific),How often is the course intellectually stimul...,189.5,251.1,81.14,83.48,22.83,2.0,NaN,86.9,75.6,Q03
3,England,England,All undergraduates,CAH01-01-01,Medical sciences (non-specific),How often does your course challenge you to a...,189.8,251.1,77.63,86.82,23.33,2.0,NaN,86.7,75.6,Q04
4,England,England,All undergraduates,CAH01-01-01,Medical sciences (non-specific),To what extent have you had the chance to exp...,189.8,251.1,69.47,97.31,21.50,1.5,NaN,87.9,75.6,Q05

In [15]:
combined_df.shape

(441483, 16)

In [16]:
combined_df[combined_df['Question Num'] == 'Q28'].head()

,UKPRN,Provider name,Level of study,Subject code,Subject,Question,Responses,Population,Option 1,Option 2,Option 3,Option 4,Option 5,Positivity,Response Rate,Question Num
26,NI,Northern Ireland,All undergraduates,CAH01-01-02,Medicine (non-specific),"Overall, I am satisfied with the quality of t...",233.0,285.0,66.0,119.0,21.0,18.0,9.0,79.4,83.2,Q28
53,NI,Northern Ireland,All undergraduates,CAH01-01-04,Dentistry,"Overall, I am satisfied with the quality of t...",53.0,56.0,37.0,14.0,2.0,0.0,0.0,96.2,94.6,Q28
80,NI,Northern Ireland,All undergraduates,CAH02-02-03,Pharmacy,"Overall, I am satisfied with the quality of t...",91.0,103.0,43.0,28.0,9.0,10.0,1.0,78.0,88.3,Q28
107,NI,Northern Ireland,All undergraduates,CAH02-04-02,Adult nursing,"Overall, I am satisfied with the quality of t...",499.0,625.0,201.0,218.0,62.0,14.0,4.0,84.0,81.4,Q28
134,NI,Northern Ireland,All undergraduates,CAH02-04-04,Midwifery,"Overall, I am satisfied with the quality of t...",58.0,63.0,15.0,33.0,4.0,4.0,2.0,82.8,92.1,Q28